
/*
blue : #07749C
grey : #E0E0E0
black : #1F1F1F
orange : #E76D4B
*/


* {
    font-family: 'Helvetica';
}

body {
    background-color: #E0E0E0;
    margin: 0;
}

.nav {
    position: sticky;
    top: 0;
    background-color: #1F1F1F;
    overflow: hidden;
    text-align: center;
    align-items: center;
}

.nav a {
    display: inline-block;
    list-style-type: none;
    color: #E0E0E0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    border-bottom: 3px solid transparent;
}

.nav a:hover {
    background:#363636;
}

.nav a.active {
    background:#E76D4B;
}

div.rect {
    position: sticky;
    top: 0;
    left: 0px;
    width:100px;
    height:4px;
    background-color: #E76D4B;
    z-index:1;
}

.header {
    overflow: hidden;
    background-color: #1F1F1F;
    padding: 20px 10px;
    justify-content: center;
    text-align: center;
}

.header .content {
    margin-top: 200px;
    margin-bottom: 200px;
    display: inline-block;
    text-align: left;
}

.header p {
    color:#E0E0E0;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 0px;
}

.header h1 {
    color: #E0E0E0;
    font-size: 160px;
    margin-top: 10px;
}

.main .content {
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 10%;
    margin-right: 10%;
}

.main .content .column {
    display: inline-flex;
}

.main .content .column#content {
    margin-left: 25%;
    vertical-align: text-top;
}

.main .content .column#header h2 {
    margin-top: 50px;
    color:#1F1F1F;
    font-size: 40px;
    border-bottom: 2px solid #07749C;
    padding-bottom: 5px;
}

.main .content .column#content p {
    color:#1F1F1F;
    font-size: 25px;
    line-height: 1.4;
    margin: 0px 20px;
}

.main .content .column#content li {
    color:#1F1F1F;
    font-size: 25px;
    margin: 10px 0px;
}

.main .content .column#content ul {
    padding-left: 20px;
    list-style-type: none;
}

.main .content .column#content h3 {
    color:#1F1F1F;
    font-size: 30px;
    margin-top: 0px;
}

.main #Skills #list-container{
    display: flex;
    justify-content: space-between;
}

footer {
    margin: 0px 100px 100px 100px;
    text-align: center;
}

footer h2 {
    color:#1F1F1F;
    font-size: 40px;
    margin: 20px 100px 40px;
    padding-bottom: 5px;
    border-bottom: solid 2px #07749C;
}

footer #contact-div {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    align-items: center;
    background:#E0E0E0;
}

footer #contact-div * {
    font-size: 20px;
    color:#1F1F1F;
    margin-left: 10px;
    margin-right: 10px;
}

footer #contact-div span {
    text-decoration: underline;
}

footer #contact-div span:hover {
    background-color: #1F1F1F;
    color:#E0E0E0;
}

footer #contact-div a:hover {
    color:#E0E0E0;
}

html {
    scroll-behavior: smooth;
}